$primary: #0098fc;
$secondary: white;
$accent: #9c27b0;

$dark: black;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$header-font-size: 230px;
$header-letter-spacing: 15px;
$header-font-weight: 800;
$header-top-align: -60.7px;
