$primary: #0098fc;
$secondary: white;
$accent: #9c27b0;

$dark: black;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$header-font-size: 10.5em;
$header-top-align: -44.8px;
